@model WebSiteVozesUnidas.Models.Noticia

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Noticia</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdNoticia" />
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <img src="~/img/@ViewBag.id" alt="Imagem da Notícia" />
            <div class="form-group">
                <label asp-for="Imagem" class="control-label"></label>
                <input asp-for="Imagem" type="file" class="form-control" name="imgUp" />
                <span asp-validation-for="Imagem" class="text-danger"></span>
            </div>
            <div class="form-group w-100">
                <label asp-for="Conteudo" class="control-label"></label>
                <textarea asp-for="Conteudo" class="form-control" rows="20"></textarea>
                <span asp-validation-for="Conteudo" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="Publicacao" class="control-label"></label>
                <input asp-for="Publicacao" class="form-control" />
                <span asp-validation-for="Publicacao" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="IdUsuario" class="control-label"></label>
                <input asp-for="IdUsuario" class="form-control" />
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
