@model WebSiteVozesUnidas.Models.AvaliacaoEspecialista

@{
    ViewData["Title"] = "Edit";
}

<h2 style="text-align:center; margin-top:10px">Editar Avaliação</h2>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAvaliacaoEspecialhis" />
            <input type="hidden" asp-for="UsuarioId" />

            <div class="form-group mb-3">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="EspecialistaId" class="control-label"></label>
                <select asp-for="EspecialistaId" class="form-control" asp-items="ViewBag.EspecialistaId"></select>
                <span asp-validation-for="EspecialistaId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Estrelas" class="control-label">Avaliação</label>
                <div class="star-rating">
                    <span class="star" data-value="1">&#9733;</span>
                    <span class="star" data-value="2">&#9733;</span>
                    <span class="star" data-value="3">&#9733;</span>
                    <span class="star" data-value="4">&#9733;</span>
                    <span class="star" data-value="5">&#9733;</span>
                </div>
                <input type="hidden" asp-for="Estrelas" id="Estrelas" name="Estrelas" />
                <span asp-validation-for="Estrelas" class="text-danger"></span>
            </div>
            <div style="display:flex; flex-direction:column; justify-content: center; align-items: center">
                <button type="submit" value="Save" style="margin-bottom:10px; border-radius:10px; border: solid; border-width: 1px; background-color:#FFFFFF; align-items:center; width:250px; height:40px">
                    Salvar
                </button>
                <a style="color:black;text-align:center; align-items:center; width:200px" asp-action="Index" asp-controller="Especialista">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
