@model WebSiteVozesUnidas.Models.Post

@{
    ViewData["Title"] = "Details";
    if(ViewBag.Categoria is null)
    {
        ViewBag.Categoria = 0;
    }

}

<p class="text-black fw-bold h2 mb-1">@Html.DisplayFor(model => model.Titulo)</p>
<p class="text-black fw-bold h4 mb-4">Tema: @ViewBag.Categoria</p>

@if (ViewBag.Image != null)
{
    <div class="col-12 d-flex justify-content-center">
        <img src="~/img/@Html.DisplayFor(model => model.Imagem)" alt="Imagem do Post" class="col-10 mw-100" style="max-height:400px;" />

    </div>
}


<div class="justify-content-center d-flex my-5 col-12">
    <div class="col-10">
        @Html.Raw(Model.Conteudo.Replace("\n", "<br />"))
    </div>
</div>

<p class="text-black fw-bold h5 mb-4">Publicado em: @Html.DisplayFor(model => model.Publicacao)</p>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPost">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
