html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a{
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.card {
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites do card */
}
.card img {
    transition: transform 0.3s ease; /* Animação suave para o efeito */
}

.card:hover img {
    transform: scale(1.1); /* Aumenta a imagem em 10% no hover */
}

.card-img-overlay {
    top: auto !important; /* Remover ou ajustar o top-0 */
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1)) !important;
}

.MenorCancelarNoticia {
    width: 25%;
}

.Letratas {
    font-size: calc(1.3rem + .vw);
}

@media only screen and (min-width: 768px) {
    .MenorCancelarNoticia {
        width: 10%;
    }
    .Img0 {
        height: 250px!important ;
    }
    .Img1 {
        height: 250px!important;
    }
    .Img2 {
    }
    .Letratas {
        font-size: calc(1.325rem + .3vw);
    }
}

/*.carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1000px;
}


.carousel-image-central {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
    transition: transform 0.5s ease;
}


.carousel-image-side {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0.5;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.carousel-button {
    background-color: dimgray;
    margin: 10px;
    color: white;
    border: none;
    padding: 10px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .carousel-button:hover {
        background-color: black;
    }

.carousel-side {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-info {
    text-align: center;
    margin-top: 10px;
}

.image-name {
    font-size: 18px;
    font-weight: bold;
}

.image-description {
    font-size: 14px;
    color: black;
    margin-top: 5px;
}

.other-content {
    margin-top: 20px;
    text-align: center;
}

h1 {
    font-size: 20px;
    text-align: start;
    color: black;
}

p {
    font-size: 15px;
    text-align: start;
    margin-bottom: -50px;
    width: 100%;
}

.tudo {
    padding: 30px;
}

.text-container {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
    padding: 30px;
}

p {
    font-size: 18px;
    color: #333;
    margin: 0;
    line-height: 1.5;
}

    p + p {
        margin-top: 20px;
    }

.equipe {
    padding: 30px;
}

h1 {
    font-size: 23px;
}

.container {
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.text {
    font-size: 1.5rem;
    width: 50%;
    margin-left: 4%;
}

p {
    font-size: 20px;
}

.image {
    flex: 1;
    margin-right: 3%;
    z-index: 1;
}

    .image img {
        width: 110%;
        height: auto;
        display: block;
    }

.button-container {
    margin-top: 20px;
}

.alert-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

    .alert-button:hover {
        background-color: #0056b3;
    }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.close-button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    width: 30%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    .close-button:hover {
        background-color: #0056b3;
    }

.card-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 7%;
    margin-top: 40px;
}

.card {
    width: 200px;
    height: 300px;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-front {
    color: white;
}

.card-back {
    background-color: #f8f9fa;
    color: black;
    transform: rotateY(180deg);
}

.is-flipped {
    transform: rotateY(180deg);
}

.img-card1 {
    width: 40%;
    height: 22%;
}

.img-card2 {
    width: 50%;
    height: 30%;
}

.img-card3 {
    width: 58%;
    height: 48%;
}

.fonte {
    text-align: center;
    margin-top: 5%;
    color: black;
}

.fafas {
    text-align: center;
    font-size: 18px;
}

.opa {
    font-size: 20px;
}

.bungas {
    text-align: center;
}

.kleber {
    text-align: center;
    padding: 3%;
    margin-top: -2%;
}

.boa {
    margin-bottom: 20%;
    margin-top: 3%;
    height: 500px;
    background-color: black;
}

    .boa h1 {
        color: white;
        text-align: center;
    }


.layout-container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    margin-top: -4%;
}

.info-box {
    background-color: transparent;
    padding: 20px;
    text-align: center;
    width: 45%;
}

    .info-box h2 {
        color: white;
    }

    .info-box p {
        font-size: 14px;
        text-align: center;
        color: white;
        line-height: 1.6;
    }

.button-group {
    margin: 20px 0;
}

    .button-group button {
        background-color: #e0e0e0;
        border: none;
        padding: 10px 15px;
        margin-right: 10px;
        border-radius: 5px;
        cursor: pointer;
    }

        .button-group button:hover {
            background-color: #d4d4d4;
        }

.icon-large {
    font-size: 40px;
    color: #007bff;
    margin-bottom: 20px;
}*/

/* Estilos gerais para as estrelas */
.star-rating {
    display: flex;
    direction: row;
}

.star {
    font-size: 2rem; /* Tamanho da estrela */
    color: #ccc; /* Cor das estrelas desmarcadas */
    cursor: pointer;
    transition: color 0.3s ease;
}

    /* Estilo das estrelas selecionadas */
    .star.selected {
        color: gold; /* Cor das estrelas selecionadas */
    }

/* Estilos para o campo invisível (input) */
input[type="hidden"] {
    display: none; /* Oculta o campo de entrada */
}

/* Estilos de validação (se houver erro na validação) */
.text-danger {
    font-size: 0.875rem;
    color: red;
    margin-top: 5px;
}
