html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.MenorCancelarNoticia {
    width: 25%;
}

.Letratas {
    font-size: calc(1.3rem + .vw);
}

@media only screen and (min-width: 768px) {
    .MenorCancelarNoticia {
        width: 10%;
    }
    .Img0 {
        height: 250px!important ;
    }
    .Img1 {
        height: 250px!important;
    }
    .Img2 {
    }
    .Letratas {
        font-size: calc(1.325rem + .3vw);
    }
}