<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebSiteVozesUnidas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebSiteVozesUnidas.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow" style="background-color: #f9f9f9;">
            <div class="container-fluid">
                

                <div class="d-flex d-sm-none w-100 justify-content-between">

                    <div class="d-flex text-secondary">

                    <a class="nav-link mb-0 h5 hover-dark-underline text-black" asp-area="" asp-controller="Noticias" asp-action="Index">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-newspaper" viewBox="0 0 16 16">
                            <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5z" />
                            <path d="M2 3h10v2H2zm0 3h4v3H2zm0 4h4v1H2zm0 2h4v1H2zm5-6h2v1H7zm3 0h2v1h-2zM7 8h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2z" />
                        </svg>
                    </a>

                        <a class="nav-link mb-0 h5 hover-dark-underline text-black" asp-area="" asp-controller="Especialista" asp-action="index">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                        </svg>
                    </a>

                    <a class="nav-link mb-0 h5 hover-dark-underline text-black" asp-area="" asp-controller="MaterialDidatico" asp-action="index">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book-half" viewBox="0 0 16 16">
                            <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783" />
                        </svg>
                    </a>

                        <a class="nav-link mb-0 h5 hover-dark-underline text-black" asp-area="" asp-controller="VagaEmpregos" asp-action="Index">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cone-striped" viewBox="0 0 16 16">
                            <path d="m9.97 4.88.953 3.811C10.159 8.878 9.14 9 8 9s-2.158-.122-2.923-.309L6.03 4.88C6.635 4.957 7.3 5 8 5s1.365-.043 1.97-.12m-.245-.978L8.97.88C8.718-.13 7.282-.13 7.03.88L6.275 3.9C6.8 3.965 7.382 4 8 4s1.2-.036 1.725-.098m4.396 8.613a.5.5 0 0 1 .037.96l-6 2a.5.5 0 0 1-.316 0l-6-2a.5.5 0 0 1 .037-.96l2.391-.598.565-2.257c.862.212 1.964.339 3.165.339s2.303-.127 3.165-.339l.565 2.257z" />
                        </svg>
                    </a>

                        <a class="nav-link mb-0 h5 hover-dark-underline text-black" asp-area="" asp-controller="Posts" asp-action="Index">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16">
                            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z" />
                            <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8m0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5" />
                        </svg>
                    </a>

                        <a class="nav-link mb-0 h5 hover-dark-underline text-black" asp-area="" asp-controller="Home" asp-action="Privacy">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person-fill" viewBox="0 0 16 16">
                            <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11" />
                        </svg>
                    </a>
                    </div>



                    <!-- Botão para abrir/fechar o menu lateral (visível apenas em telas pequenas) -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sideMenu" aria-controls="sideMenu" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                </div>


                <div class="navbar-collapse collapse d-sm-inline-flex w-100">
                    <div class="col col-lg-7 offset-0 offset-lg-1">
                        <ul class="navbar-nav d-flex justify-content-start w-100">
                            <li class="nav-item">
                                <a class="nav-link mb-0 h5 hover-dark-underline" asp-area="" asp-controller="Noticias" asp-action="Index">Notícias</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-0 h5 hover-dark-underline" asp-area="" asp-controller="Especialista" asp-action="index">Aconselhamentos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-0 h5 hover-dark-underline" asp-area="" asp-controller="MaterialDidatico" asp-action="index">Materiais</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-0 h5 hover-dark-underline" asp-area="" asp-controller="VagaEmpregos" asp-action="Index">Empregos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-0 h5 hover-dark-underline" asp-area="" asp-controller="Posts" asp-action="Index">Fórum</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-0 h5 hover-dark-underline" asp-area="" asp-controller="Home" asp-action="Privacy">Sobre</a>
                            </li>
                        </ul>
                    </div>

                    <div class="d-flex col-lg justify-content-end justify-content-lg-center">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>

        <!-- Sidebar -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="sideMenu" aria-labelledby="sideMenuLabel">
            <div class="offcanvas-header">
                <h5 id="sideMenuLabel">Páginas</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
           
            <hr class="m-0" />

            <div class="offcanvas-body">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link mb-0 h5 hover-dark-underline text-secondary" asp-area="" asp-controller="Home" asp-action="Index">Home</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mb-0 h5 hover-dark-underline text-secondary" asp-area="" asp-controller="Noticias" asp-action="Index">Notícias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mb-0 h5 hover-dark-underline text-secondary" asp-area="" asp-controller="Especialista" asp-action="index">Aconselhamentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mb-0 h5 hover-dark-underline text-secondary" asp-area="" asp-controller="MaterialDidatico" asp-action="index">Materiais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mb-0 h5 hover-dark-underline text-secondary" asp-area="" asp-controller="VagaEmpregos" asp-action="Index">Empregos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mb-0 h5 hover-dark-underline text-secondary" asp-area="" asp-controller="Posts" asp-action="Index">Fórum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mb-0 h5 hover-dark-underline text-secondary" asp-area="" asp-controller="Home" asp-action="Privacy">Sobre</a>
                    </li>
                </ul>
            </div>

            <hr />

            <div class="d-flex col-12 justify-content-center">
                <partial name="_LoginPartial" />
            </div>
        </div>
    </header>

    <!-- CSS -->
    <style>
        /* Estilo para a sidebar, cobrindo 75% da tela */
        .offcanvas-start {
            width: 75%;
        }
    </style>




    @{
        // // Renderiza o header adicional, se especificado
        // var customHeader = ViewData["CustomHeader"] as string;

        // if (!string.IsNullOrEmpty(customHeader))
        // {
        //     Html.RenderPartial($"~/Views/Shared/_{customHeader}.cshtml");

        // }
        // else
        // {
        //     Html.RenderPartial($"~/Views/Shared/_HomeHeader.cshtml");

        // }

        Html.RenderPartial($"~/Views/Shared/_HomeHeader.cshtml");
    }

    @* <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/LOGO.png" style="height:8vh;" alt="Logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex w-100">
                    <ul class="navbar-nav d-flex justify-content-evenly w-100">
                        <li class="nav-item">
                            <a class="nav-link text-dark mb-0 h5" asp-area="" asp-controller="Noticias" asp-action="Index">Notícias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark mb-0 h5" asp-area="" asp-controller="Home" asp-action="Privacy">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark mb-0 h5" asp-area="" asp-controller="Especialista" asp-action="index">Aconselhamentos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark mb-0 h5" asp-area="" asp-controller="MaterialDidatico" asp-action="index">Materiais</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark mb-0 h5" asp-area="" asp-controller="VagaEmpregos" asp-action="Index">Empregos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark mb-0 h5" asp-area="" asp-controller="Posts" asp-action="Index">Fórum</a>
                        </li>

                    </ul>
                      <partial name="_LoginPartial" />

                </div>
            </div>
        </nav>
    </header> *@
    <div class="@(ViewData["UseContainer"] as bool? == false ? "" : "container")">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
       

    @* <footer class="border-top text-muted">
        <div class=" pt-5 d-none d-md-block" style="background-color:#303030;" >
            <div class="mx-5  d-flex justify-content-between">
                <div class="col-2">
                    <img src="~/img/LOGO2 4.png" class="w-100" alt="Logo" />
                    <div class="d-flex flex-column mb-5 mt-5 bg-white ">
                        <div class="mh25px">
                            <a href="" class="ms-3">Artigos</a>
                        </div>
                        <div class="mh25px">
                            <a href="" class="ms-3">Vídeo</a>
                        </div>
                        <div class="mh25px">
                            <a href="" class="ms-3">Relatórios</a>
                        </div>
                        <div class="mh25px">
                            <a href="" class="ms-3">Ferramentas</a>
                        </div>
                        <div class="mh25px">
                            <a href="" class="ms-3">Sobre nós</a>
                        </div>
                        <div class="mh25px">
                            <a href="" class="ms-3">Projetos</a>
                        </div>
                        <div class="mh25px">
                            <a href="" class="ms-3">Eventos</a>
                        </div>
                        <div class="mh25px">
                            <a href="" class="ms-3">Blog</a>
                        </div>
                        <div class="mh25px">
                            <a href="" class="ms-3">Contato</a>
                        </div>
                    </div>
                </div>
                <div class="col-4 d-flex flex-column bg-white ms-5 h-100">
                    <div class="h-50">
                        <p class="text-wrap text-center h2 text-black my-3">
                            Nossa missão é promover a igualdade de gênero e a igualdade para todos, criando uma sociedade mais justa e inclusiva.
                        </p>
                    </div>
                    <div class="col">
                        <img src="~/img/image 21.png" class="w-100 h-100 overflow-hidden" alt="Logo" />
                    </div>
                </div>
                <div class="col-6 mw-100 overflow-hidden d-flex">
                    <div class="col-1 text-white h3 fw-bold " style="transform: rotate(270deg);margin-top: 5rem !important;height:15px;">
                        Contato:
                    </div>
                    <div class="col-11">
                        <div class="h-25 d-flex justify-content-around align-items-center">
                            <img src="~/img/image 16.png" class="h-50 w-auto" alt="Logo Instagram" />
                            <img src="~/img/image 17.png" class="h-50 w-auto" alt="Logo Linkedin" />
                            <img src="~/img/image 19.png" class="h-50 w-auto" alt="Logo Twitter" />
                            <img src="~/img/image 18.png" class="h-50 w-auto" alt="Logo Facebook" />
                            <img src="~/img/image 20.png" class="h-50 w-auto" alt="Logo Youtube" />

                        </div>
                        <div class="h-75 ms-4">
                            <div class="my-4">
                                <p class="text-white fw-bold h3">
                                    Email:
                                </p>
                                <p class="text-white h4 my-2">
                                    contato@vozesunidas.org
                                </p>
                            </div>
                            <div class="my-4">
                                <p class="text-white fw-bold h3">
                                    Telefone:
                                </p>
                                <p class="text-white h4 my-2">
                                    (XX) XXXX-XXXX
                                </p>
                            </div>
                            <div class="my-4">
                                <p class="text-white fw-bold h3">
                                    Endereço:
                                </p>
                                <p class="text-white h4 my-2">
                                    Rua Exemplo, 123, Cidade, Estado
                                </p>
                            </div>
                            
                            
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="w-100 text-white text-center mb-0" style="background-color:#303030;">
            © 2024 Vozes Unidas. Todos os direitos reservados.
        </p>
    </footer> *@

    <footer class="border-top text-muted">
        <div class=" pt-5 " style="background-color:#303030;">
            <div class="mx-1 mx-md-5 d-flex flex-column flex-md-row justify-content-center justify-content-md-between">

                <div class="col-12 col-md-2 order-2 order-md-0">
                    <img src="~/img/LOGO2 4.png" class="w-100" alt="Logo" />
                    
                </div>

                <div class="col col-md-4 d-flex flex-column ms-5 h-100 text-white order-0 order-md-1">
                    <h1 class="text-uppercase mb-2">Siga nossas redes socias:</h1>
                    <div class="h-25 d-flex flex-column justify-content-around align-items-start">
                        <div class="d-flex mb-3">
                            <img src="~/img/image 16.png" class="h-50 w-auto " alt="Logo Instagram" />
                            <div class="ms-3">
                                <p class="mb-0 fs-6 text-white fw-bold">Instagram:</p>
                                <h4>@@VozesUnidas</h4>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <img src="~/img/image 17.png" class="h-50 w-auto " alt="Logo Instagram" />
                            <div class="ms-3">
                                <p class="mb-0 fs-6 text-white fw-bold">Instagram:</p>
                                <h4>@@VozesUnidas</h4>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <img src="~/img/image 18.png" class="h-50 w-auto " alt="Logo Instagram" />
                            <div class="ms-3">
                                <p class="mb-0 fs-6 text-white fw-bold">Instagram:</p>
                                <h4>@@VozesUnidas</h4>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <img src="~/img/image 19.png" class="h-50 w-auto " alt="Logo Instagram" />
                            <div class="ms-3">
                                <p class="mb-0 fs-6 text-white fw-bold">Instagram:</p>
                                <h4>@@VozesUnidas</h4>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <img src="~/img/image 20.png" class="h-50 w-auto " alt="Logo Instagram" />
                            <div class="ms-3">
                                <p class="mb-0 fs-6 text-white fw-bold">Instagram:</p>
                                <h4>@@VozesUnidas</h4>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col col-md-6 mw-100 overflow-hidden d-flex order-1 order-md-2">
                    <div class="col-1 text-white h3 fw-bold " style="transform: rotate(270deg);margin-top: 5rem !important;height:15px;">
                        Contato:
                    </div>
                    <div class="col-11">
                        
                        <div class="h-75 ms-4">
                            <div class="my-4">
                                <p class="text-white fw-bold h3">
                                    Email:
                                </p>
                                <p class="text-white h4 my-2">
                                    contato@vozesunidas.org
                                </p>
                            </div>
                            <div class="my-4">
                                <p class="text-white fw-bold h3">
                                    Telefone:
                                </p>
                                <p class="text-white h4 my-2">
                                    (XX) XXXX-XXXX
                                </p>
                            </div>
                            <div class="my-4">
                                <p class="text-white fw-bold h3">
                                    Endereço:
                                </p>
                                <p class="text-white h4 my-2">
                                    Rua Exemplo, 123, Cidade, Estado
                                </p>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="w-100 text-white text-center mb-0" style="background-color:#303030;">
            © 2024 Vozes Unidas. Todos os direitos reservados.
        </p>
    </footer>

    @* <footer class="sticky-bottom " style="background-color:#303030;">
        
    </footer> *@


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    body{
    }

    .mh25px {
        max-height: 40px;
        margin: 0.7rem 0px !important;
        display:flex;
        align-items: center;
    }

    .hover-dark-underline:hover{
        color: black;
        text-decoration: underline;
    }
</style>
